.about-banner-bg {
  width: 100%;
  min-height: 350px; /* adjust as per design */
  background: url("../assets/Background//glance-at-atul-auto.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  text-align: center;       /* center the text */
  color: #fff;              /* white text (optional, for contrast) */
}
.about-wrapper {
  padding: 50px 0;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  gap: 30px;
}
.about-section1-content-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
}
.about-top-img{
  max-width: 100%;
}
.about-section1-left-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
}
.achv-section{
  margin-top: 5%;
}
.achv-cards-wrapper{
display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px !important;
}
.achv-card{
  width: 300px;
  max-width: 300px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
}
.achv-card-img{
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px 25px;
 
}
.card-number-text{
  font-size: 45px;
  font-weight: 700;
}
/*  */
.about-mission-section {
  width: 100%;
  margin-top: 5%;
  background: #f9f9f9;
  padding: 60px 20px;
}
.about-mission-content-container{
  margin: auto !important;
  max-width: 90%;
}
.mission-center-img{
  margin: auto;
  box-shadow: none !important;
  max-width: 100% !important;
  /* background-color: #000; */
 /* border-radius: 12px;
  box-shadow: 0px 6px 10px #05956c !important; */
}
.about-mission-col {
  margin-bottom: 20px;
}

.about-mission-box {
  margin-bottom: 80px;
}

.about-mission-box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin-bottom: 12px;
  position: relative;
  display: inline-block; /* so underline takes heading width */
}

.about-mission-box h3::after {
  content: "";
  display: block;
  width: 65px; /* half width of heading */
  height: 8px;
  margin-top: 6px;
  background: linear-gradient(to right, #05956c 50%, transparent 50%);
  border: 1px solid #05956c;
  border-radius: 2px;
}


.about-mission-box p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}



/* Responsive */
@media (max-width: 991px) {

}
/* Tablet and below */
@media (max-width: 768px) {
  .about-wrapper {
  padding: 0px;
}
.about-section {
    width: 95%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }
  .about-text {
    min-width: 100% !important;
    text-align: justify;
}
.about-text h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.achv-cards-wrapper{
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
gap: 25px;
}
  .about-mission-col {
    text-align: center;
  }
}
