.about-wrapper {
  padding: 50px 0;
}
.about-section1-left-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  gap: 30px;
}

.about-section.reverse {
  flex-direction: row-reverse;
}
.about-image-div{
  display: flex;
  justify-content: center;
  max-width: 45%;
  background-color: black;
}
.about-img {
  width: 100%;
  max-width: 100% !important;
  height: auto;
  display: block;
  border-radius: 10px;
  
}

.about-text {
    max-width: 50%;
    /* background-color: aqua; */
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
}
.achv-cards-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.achv-card{
  width: 300px;
  max-width: 300px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
}
.achv-card-img{
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px 25px;
 
}
.card-number-text{
  font-size: 45px;
  font-weight: 700;
}
/* Tablet and below */
@media (max-width: 768px) {
  .about-wrapper {
  padding: 0px;
}
.about-section {
    width: 95%;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }

  .about-image-div{
   min-width: 100% !important;
     
  }
  .about-img {
    width: 100% !important ;
   
  }
  .about-text {
    min-width: 100% !important;
    text-align: justify;
}
.about-text h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.achv-cards-wrapper{
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
gap: 25px;
}
}
