.contact-page {
  margin-top: 8%;
}

/* Main Parallel Section */
.contact-main-section {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-start;
  gap: 0px;
  padding: 40px 0 !important;
  flex-wrap: wrap;
  margin-top: 2.5%;
  margin: auto !important;
  /* background-color: aliceblue; */
}
.contact-tag-heading-div{
text-align: center;
  background-color: #F6F6F5;
  max-width: fit-content !important;
  padding: 0px 15px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-page-heading-div{
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Left: Form */
.form-container {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container form {
margin-left: auto;
}
/* Right: Info Boxes */
.contact-info-section {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-box {
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-info-btn {
  width: 95px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 5px 8px;
  background: #05956c;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.contact-info-btn:hover {
  background: #05956c !important;
  color: #ffffff !important;
}
.info-box-icon-div{
  padding: 8px;
  border-radius: 5px;
  background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.info-icon {
  font-size: 32px;
  color: #05956c;
}

/* Map */
.map-section {
  width: 100%;
  margin-top: 5%;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .contact-main-section {
    flex-direction: column;
    align-items: center;
  }
  .form-container, .contact-info-section {
    flex: 1 1 100%;
    width: 100%;
  }
  .form-container form {
margin: auto !important;
}
}
