.becomeD-banner-section {
  background: url("../assets/Background/homeDealer-bg.png") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7); /* black overlay */
  background-blend-mode: overlay;       /* blends overlay with image */
  color: #ffffff !important;
  margin-top: 5% !important;
  padding: 3.5% 0px;
}
.becomeD-content-container{
    padding: 20px 0px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}
.BecomeD-text-div{
    color: #ffffff !important;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left !important;
}
.heading-text-left{
   text-align: left !important;
margin-right: auto;
}
.becomeD-btn-div{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-right: auto;
}

@media (max-width: 768px) {
    .becomeD-content-container{
    padding: 20px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.BecomeD-text-div{
    min-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left !important;
}
.heading-text-left{
text-align: center !important;
}
.becomeD-btn-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-right: auto;
}

.mobile-btn{
    display: none;
}
}