.becomeD-banner-section{
background-color: black;
color: #ffffff !important;
margin-top: 5%;
margin-bottom: -75px;
}
.becomeD-content-container{
    padding: 20px 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.BecomeD-btn{
    font-size: 18px;
    padding: 10px 15px !important;
 background-color: transparent !important;
    outline: 1px solid #05956c;
    max-width: fit-content;
}
.BecomeD-btn:hover{
    background-color: #05956c !important;
}