.home-feature-section{
    margin-top: 5%;
}
.home-feature-content-container{
    /* background-color: blue; */
}
.feature-card {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 300px;
  background-image: url('../assets/about1.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-bottom-right-radius: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature-content {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.feature-content .icon {
  font-size: 2rem;
  color: #fff;
}
