.banner-img {
  min-height: 80vh !important; /* full screen height */
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner-img {
    height: 65vh;
  }
}

@media (max-width: 480px) {
  .banner-img {
    height: 60vh;
  }
}
