.home-banner-img-div{
  width: 100% !important;
  min-height: 80vh !important;
}
.home-banner-img {
  min-height: 80vh !important;
  width: 100%;
  object-fit: cover;
  display: block;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.custom-arrow:hover {
  background: rgba(0,0,0,0.8);
}

@media screen and (max-width: 768px) {
  .home-banner-img-div{
  width: 100% !important;
  max-height: 100px !important;
  background-color: black;
}
.home-banner-img {
  max-height: 100vh !important;
  width: 100%;
  object-fit: contain !important;
  display: block;
}
.sliderr{

}
}