.banner-slide {
  width: 100%;
  height: auto !important; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 85px!important;
 
}
/* .banner-img{
  height: 80vh !important;
} */
/* Tablet */
@media (max-width: 768px) {
  .banner-slide {
    height: 50vh;
    height: 100%;
     margin-top: 52px!important;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .banner-slide {
    height: 50vh;
     margin-top: 52px!important;
  }
}
