.banner-container {
  width: 100%;
  height: auto; /* height auto so it adjusts */
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/Background/product-base-background.png") no-repeat center center/cover;
  padding:0px; /* spacing for mobile */
  /* box-sizing: border-box; */
}

.model-product-img {
  width: 100%;
  max-width: 100%; /* limit max size for large screens */
  height: auto;
  display: block;
}
