.banner-container {
  width: 100%;
  height: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/Background/product-base-background.png") no-repeat center center/cover;
  padding:0px; 
   margin-top: 60px;
  }
.model-product-img {
  width: 100%;
  max-width: 100%; 
  height: auto;
  display: block;
}
