.preloader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-box {
  width: 75%;
  position: relative;
  text-align: center;
}

/* Rickshaw icon */
.rickshaw {
  position: absolute;
  top: -45px;
 width: 52px;
 height: 52px;
  color: #ffffff;
  transition: left 0.05s linear;
}
/* Grey line */
.loader-line {
  width: 100%;
  height: 3px;
  background: #777;
  margin: 20px auto 10px;
}
/* Text */
.loader-text {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
}
