.product-section {
  padding: 35px;
  text-align: center;
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px !important;
  margin: auto;
}

.filter-buttons button {
    width: fit-content;
    font-size: 20px;
  padding: 8px 20px;
  border: none;
  background: white;
  color: #000;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.filter-buttons button:hover,
.filter-buttons .active {
  background: #05956c;
  color: white;
}

/* Product Grid */
.product-grid {
  margin-top: 15px !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* auto adjust */
  gap: 25px;
  justify-items: center;   /* each card center hoga */
  align-items: start;      /* top se aligned */
  width: 100%;
  margin: auto;
}

.product-card {
  width: 100%;
  max-width: auto;    /* responsive max width */
  background: white;
  color: #000;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: left;
  transition: 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #ddd;
}
.product-info {
    width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 12px 0;
  color: #000;
  /* background-color: #28a745; */
}

.model-name {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.color-options {
  display: flex;
  gap: 8px;
  margin-top: 30px !important;
  margin-left: auto;
  /* background-color: #28a745; */
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: 0.2s;
}

.color-circle:hover {
  transform: scale(1.2);
}

/* Know More Button */
.know-more-btn-div{
  margin-top: 25px;
}
.know-more-btn {
 width: 170px;
   max-width: 180px;
  padding: 5px 10px;
  border: 1px solid #05956c;
  background: transparent;
  color: #05956c;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.know-more-btn:hover {
  /* background: #28a745; */
  background: #05956c;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr; 
    justify-content: center;
    align-items: center;
  }

  .product-card {
    max-width: 100%;
    margin: auto !important;  
  }

  .know-more-btn {
    width: 100%;      
  }
}

