body{
  margin-top: 60px !important;
}
.page-heading-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-heading{
font-size: 2vw;
margin-bottom: 2.5rem;
font-weight: 700;
}
.page-tag-heading{
  font-weight: 700;
}
@media (max-width: 768px) {
.page-heading-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-heading{
font-size: 20px;
margin-bottom: 2rem;
}
}

/* Tablets: Portrait & Landscape (up to 1024px) */
@media (max-width: 1024px) {
.page-heading-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-heading{
font-size: 22px;
margin-bottom: 2rem;
}
}